<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container nhsuk-u-clear">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/nhs-services/online-services/vaccine-record/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of use</a>
              </li>
              <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/nhs-services/online-services/vaccine-record/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy policy</a>
              </li>
              <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/nhs-services/online-services/vaccine-record/accessibility-statement" target="_blank" rel="noopener noreferrer">Accessibility statement</a>
              </li>
              <li class="nhsuk-footer__list-item">
                  <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/contact-us/vaccine-record-help" target="_blank" rel="noopener noreferrer">Help and support</a>
              </li>
          </ul>
          <p class="nhsuk-footer__copyright">© Crown copyright</p>
          <p class="nhsuk-footer__copyright">1.0.10.51961</p>
      </div>
      <div class="nhsuk-width-container nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-8">
          <p class="nhsuk-u-font-size-16 nhsuk-u-secondary-text-color">
              This service only stores cookies that are essential to make the website secure and work properly. Read more about <a href="https://www.nhs.uk/nhs-services/online-services/vaccine-record/cookie-policy" target="_blank" rel="noopener noreferrer">how we use cookies</a>.
          </p>
      </div>

  </div>
</footer>
