<footer role="contentinfo"><div class="nhsuk-footer" id="nhsuk-footer">
  <div class="nhsuk-width-container"><h1 class="nhsuk-u-visually-hidden">Support links</h1>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://covid-status.service.nhsx.nhs.uk/help/privacy-notice/" title="Privacy notice - NHS">Privacy notice</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://covid-status.service.nhsx.nhs.uk/help/TermsAndConditions/" title="NHS COVID Pass terms of use - NHS">Terms and conditions</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://covid-status.service.nhsx.nhs.uk/help/Accessibility/" title="Accessibility statement - NHS">Accessibility statement</a></li>
      <li class="nhsuk-footer__list-item"><a title="Cookie policy - NHS" class="nhsuk-footer__list-item-link" href="https://covid-status.service.nhsx.nhs.uk/help/CookiePolicy/">Cookie Policy</a></li>
      <li class="nhsuk-footer__list-item"><p class="nhsuk-footer__list-item-version">release v2.7.0</p></li>
    </ul><p class="nhsuk-footer__copyright  nhsuk-u-padding-bottom-8">©&nbsp;Crown copyright</p>
  </div></div>
</footer>
