{% set PROTOTYPEURL = "your-health/gp-record" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Medicines" %}
{% set yourHealthActive = "active" %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  {{ contentTitle }} - {{ serviceName }}
{% endblock %}




<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-desktop" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back to home</a></p>
  </div>
</nav>

<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-native" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>


        <ul class="panel-link">

          <li class="panel-link__item">
            <a class="panel-link__link" href="/{{ PROTOTYPEURL }}/acute">
              <h2 class="panel-link__heading nhsuk-heading-xs">Acute (short-term) medicines</h2>
              <div class="recordCountAcute"><span>0</span></div>
            </a>
          </li>

          <li class="panel-link__item">
            <a class="panel-link__link" href="/{{ PROTOTYPEURL }}/repeats">
              <h2 class="panel-link__heading nhsuk-heading-xs">Repeat medicines: current</h2>
              <div class="recordCountRepeatCurrent"><span>2</span></div>
            </a>
          </li>

          <li class="panel-link__item">
            <a class="panel-link__link" href="/{{ PROTOTYPEURL }}/repeat-discontinued">
              <h2 class="panel-link__heading nhsuk-heading-xs">Repeat medicines: discontinued</h2>
              <div class="recordCountRepeatDiscontinued"><span>0</span></div>
            </a>
          </li>
        </ul>

    </div>
  </div>
{% endblock %}
