// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
@import 'components/111';
@import 'components/app-card';
@import 'components/app-template';
@import 'components/buttons';
@import 'components/panel-heading';
@import 'components/panel-link';
@import 'components/prescriptions';
@import 'components/desktop-header';
@import 'components/desktop-footer';
@import 'components/native-footer';
@import 'components/native-header';
@import 'components/store-icons';
@import 'components/summary-list-home';
@import 'components/breadcrumbs';
@import 'components/start-screen';
@import 'components/nominated-pharmacy';
@import 'components/log-out';
@import 'components/toggle';
@import 'components/health-record';
@import 'components/covid-record';
@import 'components/covid-status';
@import 'components/messages';
@import 'components/organ-donation';








/**
 * Expander variation.
 *
 * 1. !important used because the icon is populated
 *    by the JavaScript polyfill
 * 2. Remove the default hover, focus and active
 *    styles for this component.
 * 3. -2px left margin to align the icon to the content.
 * 4. When a group of details is used reduce the
 *    margin between them so they sit together.
 */
 
 

.nhs-app-expander
{
	background-color: #ffffff;
	border-left: none;
	border-bottom: 4px;
	margin-bottom: 8px;
}

.nhs-app .nhsuk-details__text { border-left: 0; }
.nhsuk-details__text > *:first-child { margin-top: 8px; }

.nhs-app-expander .nhsuk-details__summary
{
	background-color: #0072CE;
	border-top: none;
	display: block;
	padding: 14px 14px 14px 0;
	margin-left: 0;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 2px;
}






.nhsuk-details + h2, .nhsuk-details + .nhsuk-heading-l { padding-top: 16px; }

.nhsuk-heading-s
{
	font-size: 1.125rem;
	line-height: 1;
	display: block;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 6px;
}


/**
 * Styles for user data at head of page
 *
 */


.nhs-number, .nhs-number:active {
color:#fff;
text-decoration: underline;
}

.nhs-number-copy {	display: none !important; }

  
.nhsuk-section.app-homepage, .app-homepage {
  background-color:#f0f4f5 !important;
}

.panel-link__heading .nhsapp-messages-indicator {
float:right; top:1.5em; right:2em;
}




@media (min-width: 48.0525em) {
		div.visually-hidden {
		display:none;
		}
}


		.nhsuk-hero.nhsuk-hero--image { 
		background-image:url('/images/app-homepage-hero.jpg');
		min-height: 240px;
		margin-bottom: 2em;
		text-align: left !important;

		 }	



/* settings for tablets */

@media (max-width: 40.0625em)
{

		.nhsuk-details + h2,
		.nhsuk-details + .nhsuk-heading-l { padding-top: 24px; }

		.nhs-app-expander-group > .nhsuk-details { margin-bottom: 8px; }

		.nhs-app-expander-group { margin-bottom: 24px; }

		.app-homepage .nhsuk-section:nth-of-type(2) { padding-top: 2px; }



		h2.nhsuk-card__heading.nhsuk-heading-s {
		line-height:1em;
		margin-bottom:8px;
		}


 
}




@media (min-width: 40.0625em)
{


.nhsuk-main-wrapper.app-homepage { margin:0; padding:0; }

.nhsuk-main-wrapper > *:first-child {
padding-left: 4em;
margin-top: 0;

}

.nhsuk-hero--image {
background-image:url('/images/app-homepage-hero.jpg');
 } 

}

/* settings for small device */

@media (max-width: 26.3125em) {
}

.nhsuk-header__navigation-list > :last-child {
border-bottom: 1px solid #f0f4f5;
}


.nhsuk-hero--image-description .nhsuk-hero-content {
margin: 0 -1em;
padding: 1em;
position: relative;
top: 0px;
text-align:left;
}




.nhsuk-hero--image .nhsuk-hero__overlay {
min-height:140px;
}

.nhsuk-hero.nhsuk-hero--image { 
text-align:left;
min-height: 120px;
margin-bottom: 1em;
padding-bottom:0;
 }
 
h1, .nhsuk-heading-xl {
font-size: 1.8rem;
}

.hero-holder { 
padding-top:0; 
padding-bottom: 10px;
margin:-2.6em 0 0 0; 
min-height:120px;
}

.hero-holder .patient-data {
  bottom: 0;
  }

.app-main-wrapper--no-padding.app-homepage .nhsuk-section.app-homepage {
margin-left:1em;
}

.nhsuk-hero--image {
background-image:none;
text-align: left;
 } 

.nhsapp-links .nhsuk-heading-s { font-size:1em; }

.nhsuk-header__menu-toggle {padding:6px; }

  .app-homepage .nhsuk-section:nth-of-type(2) {
    margin-top: -50px !important;
  }





.nhsuk-main-wrapper>:first-child { margin:0; padding:0; }

.nhsuk-hero.nhsuk-hero--image {
text-align: left !important;
 } 

