// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
@import 'components/app-card';
@import 'components/buttons';
@import 'components/panel-heading';
@import 'components/panel-link';
@import 'components/desktop-header';
@import 'components/desktop-footer';
@import 'components/native-footer';
@import 'components/native-header';
@import 'components/store-icons';
@import 'components/summary-list-home';
@import 'components/breadcrumbs';
@import 'components/start-screen';


.nhs-app-thin {

  padding: 1.5em 0 5em;

  @include mq($from: desktop) {
    padding-top: 3em;
  }
}

.desktop-back-link {
  @media(max-width: 481px) {
    display: none;
  }
}

.prescription-description {
    color: #425563;
}


.app-main-wrapper--none {
   @include mq($until: tablet) {
     padding-top: 0;
     padding-bottom: 0;
   }
 }

 .get-advice-link {
    color: #ffffff!important;
}


body.web {
  background-color: #f0f4f5!important;
}
