

{% set PROTOTYPEURL = "prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Your prescription has been ordered" %}
{% set title = contentTitle + " - " + serviceName %}
{% set prescriptionsActive = "active" %}
{% block pageScripts %}
{% endblock %}


{% set choosePrescription %}

{% if data['choosePrescription'] == 'alogliptin' %}


<div class="nhsuk-card nhs-app-prescription-card">
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
<p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
</dt>
<dd class="nhsuk-summary-list__value">
<p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken each day - 28 tablet</p>
</dd>
</div>
</dl>
</div>




{% elif data['choosePrescription'] == 'metformin' %}


<div class="nhsuk-card nhs-app-prescription-card">
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
<p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
</dt>
<dd class="nhsuk-summary-list__value">
<p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken 4 times a day with food - 112 tablet</p>
</dd>
</div>
</dl>
</div>


{% else %}


<div class="nhsuk-card nhs-app-prescription-card">
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
<p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
</dt>
<dd class="nhsuk-summary-list__value">
<p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken each day - 28 tablet</p>
</dd>
</div>
</dl>
</div>

  {% endif %}

{% endset %}



{% if data['choosePrescription'] | stringOrNot %}{% set prescription = "onePrescription" %}{% else %}{% set prescription = "multiplePrescription" %}{% endif %}
{% set chosenMedication %}
  {% if prescription == 'onePrescription' %}
    {{ choosePrescription | safe }}

    {% else %}
    <div class="nhsuk-card nhs-app-prescription-card">
      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
      {% for item in data['choosePrescription'] %}
      {% if item == 'alogliptin' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
      <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
      </dt>
      <dd class="nhsuk-summary-list__value">
      <p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken each day - 28 tablet</p>
      </dd>
      </div>
      {% elif item == 'metformin' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
      <p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
      </dt>
      <dd class="nhsuk-summary-list__value">
      <p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken 4 times a day with food - 112 tablet</p>
      </dd>
      </div>
      {% else %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
      <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
      </dt>
      <dd class="nhsuk-summary-list__value">
      <p class="nhsuk-u-margin-bottom-0 prescription-description">One to be taken each day - 28 tablet</p>
      </dd>
      </div>
      {% endif %}
      {% endfor %}
    </dl>
  </div>
    {% endif %}
  {% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-desktop" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back to home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>

    <p>You have ordered:</p>


           {{ chosenMedication | safe }}


    <h2>What happens next</h2>

    {% if data['nominatedPharmacy'] %}

    <p>Your prescription request has been sent to your GP surgery.</p>

    <p>Once a GP approves it, they'll send your prescription to your nominated pharmacy, {{ data["nominatedPharmacy"] or "Boots" }}.</p>

      <p class="nhsuk-u-margin-bottom-0">{{ data["nominatedPharmacy"] or "Boots" }}</p>

      <p class="nhsuk-u-margin-bottom-0">{{ data["address"] or "City Station" }}</p>

      {% if data['address2'] %}
      <p class="nhsuk-u-margin-bottom-0">{{ data["address2"] }}</p>
      {% else %}
      {% endif %}

      <p class="nhsuk-u-margin-bottom-0">{{ data["city"] or "Leeds" }}</p>

      {% if data['county'] %}
      <p class="nhsuk-u-margin-bottom-0">{{ data["county"] }}</p>
      {% else %}
      {% endif %}

      <p class="nhsuk-u-margin-bottom-0">{{ data["postcode"] or "LS1 4DT" }}</p>

      <p>Telephone: {{ data["phoneNumber"] or "0113 242 1713" }}</p>

    {% else %}

    <p>Your prescription request has been sent to your GP surgery.</p>

    <p>Once they approve your prescription, you'll need to collect it from your GP surgery.</p>

    {% endif %}






                <p>
                  <a href="/{{ PROTOTYPEURL }}/your-orders">Go to your prescription orders</a>
                </p>



    </div>
  </div>



{% endblock %}
