{% set PROTOTYPEURL = "your-health/covid-status" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Get your NHS COVID Pass" %}
{% set yourHealthActive = "active" %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-covid-status.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  {{ contentTitle }} - {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript: window.history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>




      <p>By accessing your NHS COVID Pass and clicking continue, you're also agreeing to the service's <a href="https://covid-status.service.nhsx.nhs.uk/help/TermsAndConditions/">terms of use</a> and <a href="https://covid-status.service.nhsx.nhs.uk/help/privacy-notice/">privacy policy</a>.</p>

      <form action="/{{ PROTOTYPEURL }}/travel-hub" method="get">
        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>


      <p>Find out <a target="_blank" href="https://www.nhs.uk/nhs-services/online-services/nhs-app/nhs-app-help-and-support/about-the-share-your-covid-19-status-service/" class="nhsuk-link nhsuk-link--no-visited-state external-link">more about this service</a> or read more <a target="_blank" href="https://www.nhs.uk/conditions/coronavirus-covid-19/" class="nhsuk-link nhsuk-link--no-visited-state external-link">about coronavirus (COVID-19), testing and vaccination on the NHS website.</a></p>

    </div>
  </div>
{% endblock %}
