// ==========================================================================
// COMPONENTS / #APP-CARDS
// ==========================================================================

.app-card {
  padding: 32px;
  }

  .desktop-app-card {
    padding: 32px;
    }


    .nhs-app-prescription-card {
      border: 1px solid #aeb7bd;
      padding: 20px;
      dt {
        font-weight: normal;
      }
    }




    .nhs-app-card {

      border-top: 1px #D8DDE0 solid;
      @include mq($until: desktop) {
        margin: 0 -1em 1em;
      }
      @include mq($from: desktop) {
        border-left: 1px #D8DDE0 solid;
        border-right: 1px #D8DDE0 solid;
      }
    }

    .nhs-app-card__inner {

      position: relative;
      margin-left: 0em;
      border-bottom: 1px #D8DDE0 solid;
      background-color: white;
      padding: 0.8em 1em;
      margin-bottom: .2em;
      @include mq($from: desktop) {
        margin-bottom: 1em;
      }
    }


    .nhsuk-card-dark-background {
     border: 1px solid #aeb7bd;
   }
