// ==========================================================================
// COMPONENTS / #APP-CARDS
// ==========================================================================

.app-card {
  padding: 32px;
  }

  .desktop-app-card {
    padding: 32px;
    }


    .nhs-app-prescription-card {
      border: 1px solid #aeb7bd;
      padding: 20px;
      dt {
        font-weight: normal;
      }
    }



    .nhs-app-thin {

      padding: 1.5em 0 5em;

      @include mq($from: desktop) {
        padding-top: 3em;
      }
    }


        .nhs-app-thin-less-bottom {

          padding: 1.5em 0 2em;

          @include mq($from: desktop) {
            padding-top: 3em;
          }
        }

    // Layout for 111 mock page, to reduce the bottom margin for the 111 footer
    .nhs-app-111 {

      padding: 1.5em 0;

      @include mq($from: desktop) {
        padding-top: 3em;
      }
    }

    .desktop-back-link {
      @media(max-width: 481px) {
        display: none;
      }
    }



    .app-main-wrapper--none {
       @include mq($until: tablet) {
         padding-top: 0;
         padding-bottom: 0;
       }
     }
