// ==========================================================================
// COMPONENTS / #APP-CARDS
// ==========================================================================

.app-card {
  padding: 32px;
  }

  .desktop-app-card {
    padding: 32px;
    }


    .nhs-app-prescription-card {
      border: 1px solid #aeb7bd;
      padding: 20px;
      dt {
        font-weight: normal;
      }
    }
