// ==========================================================================
// COMPONENTS / #BUTTONS
// ==========================================================================

.nhs-app-button--delete {

  background-color: darken($color_nhsuk-red, 8%);
  box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-red, 38%); // s0


  &:hover {
    background-color: darken($color_nhsuk-red, 16%);
    cursor: default;
  }

  &:focus {
    outline: none;
    background-color: darken($color_nhsuk-red, 16%);
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-red, 20%); // s0
    top: 0;
  }

}

.nhslogin-button {

  background-color: darken($color_nhsuk-blue, 1%);
  box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-blue, 20%); // s0
  cursor: pointer!important;


  &:hover {
    background-color: darken($color_nhsuk-blue, 12%);
    cursor: default;
  }

  &:focus {
    background-color: #ffeb3b!important;
    border: 2px solid transparent!important;
    box-shadow: 0 4px 0 0 #212b32!important;
    color: #212b32;
    outline: 4px solid transparent;
    outline-offset: 4px;
}


  &:active {
    background-color: #005bb3;
    box-shadow: none!important;
    top: 4px;
  }

}



//onboarding contents
.onboarding-contents {
  height:100%;
  width:100%;

  @include mq($from: tablet) {
    width: 375px;
    height: auto;
  }
}
.onboarding-contents button {
  margin-top:30px;
  margin-bottom: 24px;
  width:100%;
}

.onboarding-button {
  cursor: pointer;
  border:none;
  background:none;
  @media only screen and (min-width: 769px) {
    width:350px;
    margin-bottom: 24px;
    margin-top:30px;
    display:block;
    .cls-1{
      fill:#003087;
    }
    .cls-2{
      fill:#005eb8;
    }
    .cls-3{
      fill:#fff;
    }
  }


  &:focus {
    .cls-2{
      fill:#ffeb3b;
    }
    .cls-3{
      fill:#212b32;
    }
    border: 2px solid transparent!important;
    box-shadow: 0 0px 0 0 #212b32!important;
    outline: 4px solid transparent;
    outline-offset: 4px;
}


  &:active {
    background-color: #005bb3;
    box-shadow: none!important;
    top: 4px;
  }
}



main.nhs-app-main-login {
  form {

    text-align: center;
    width: 100%;
  }

  .nhs-app-u-button-full {

    width: 100%;
  }

}
