// ==========================================================================
// COMPONENTS / #COVID-STATUS
// ==========================================================================

.nhsuk-footer__list-item-version {
    font-size: 1rem;
    line-height: 1.5;
    color: #4c6272;
    font-weight: 400;
}


.covid-qr-expire {
  text-align: center;
}

.covid-qr-image {
    text-align: center;
}

.center-align {
  text-align: center;
}

.green-bg {
  margin: auto;
  background-color: #007f3b;
  width: 250px;
  height: 45px;
}


.covid-status-tick {
  margin-top: 8px;
  margin-left: 12px;
  margin-right: 8px;
  margin-bottom: -7px;
}

.covid-status-travel {
  margin-top: 8px;
  margin-left: 12px;
  margin-right: 8px;
  margin-bottom: 2px;
}


.valid-england {
  white-space: nowrap;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}


.covid-status-icons {
  vertical-align: -5.8px;
}


.covid-link {
  text-decoration: none;
  display: block;

  &:focus {
   color: #212b32 !important;
  }

  &:hover {
    box-shadow: 0 0 0 4px $color_nhsuk-yellow;
    color: $color_nhsuk-blue;
  }

  &:hover h3 {
    text-decoration: underline;
  }

  &:visited {
    color: $color_nhsuk-blue;
  }
}


.download-link--bold {
  font-weight: bold;
}


.nhsuk-card__content_less-padding {
  padding: 14px;
  color: #005AB6;
  position: relative;
}


.card-with-chevron-right {
  background-image: url(../images/icon_arrow_right.svg);
  background-position: right 0em top -0.3em;
  background-repeat: no-repeat;
}


.card-with-chevron-down-expanded {
  background-image: url(../images/icon_arrow_down.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}

.card-with-chevron-down-expanded-2 {
  background-image: url(../images/icon_arrow_down.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}

.card-with-chevron-down-expanded-3 {
  background-image: url(../images/icon_arrow_down.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}



.card-with-chevron-down-expanded.rotate {
  background-image: url(../images/icon_arrow_up.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}


.card-with-chevron-down-expanded-2.rotate {
  background-image: url(../images/icon_arrow_up.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}

.card-with-chevron-down-expanded-3.rotate {
  background-image: url(../images/icon_arrow_up.svg);
  background-position: right 1em top 0.7em;
  background-repeat: no-repeat;
}



.link-block.rotate {
  background-position: right center;
  display: block;
}


 .email {
   display: none;
 }

 .email.show {
   display: block;
 }


 .covid-label {
  font-size: 15px;

}

.covid-card__description {
  color: #4c6272!important;
}

.email-drop-down {
  padding-left: 29px;
}


.dosediv2 {
  display: none;
}

.dosediv2.show {
  display: block;
}

.dosediv1 {
  display: none;
}

.dosediv1.show {
  display: block;
}


  .nhsuk-card__content_less-padding-black {
    padding: 14px;
    position: relative;
  }



  .nhsuk-link--no-visited-state-black {
     color: #212B32 !important;
     text-decoration: none !important;

     &:hover {
       color: #212B32 !important;
       text-decoration: none !important;
       background-color: #ffeb3b;
       box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
     }

     &:visited {
       color: #212B32 !important;
       text-decoration: none !important;
     }
  }

  .link-block {
  background-position: right center;
  display: block;
}

.nhsuk-table-covid {
    margin-bottom: 40px;
    margin-top: 40px;
    border-spacing: 0;
    vertical-align: top;
    width: 100%;
    margin: 0px 0px 2px 0px;
}


.dose-number {
  display: block;
}

.dose-number.show {
  display: none;
}




.nhsuk-card_no-bottom-border {
  margin-bottom: 40px;
  background: #ffffff;
  border: 1px solid #d8dde0;
  border-bottom: none;
  position: relative;
  width: 100%;
  @media (min-width: 40.0625em) {
    .nhsuk-card {
      margin-bottom: 48px; }
    }
    }



  .nhsuk-card_green {
    margin-bottom: 40px;
    background: #0C7342;
    border: 1px solid #0C7342;
    border-bottom: none;
    position: relative;
    width: 100%;
    @media (min-width: 40.0625em) {
      .nhsuk-card {
        margin-bottom: 48px;
      }
      }
}


.covid-green-container--covid {
  text-align: center;
}

.covid-status_heading {
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 4px;
  &:focus {
   color: #212b32 !important;
  }
}


.covid-link--arrow,
.covid-link--arrow:visited {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.covid-link--arrow:hover {
  text-decoration: underline;
  color: #212b32;
}

.covid-link:hover {
    box-shadow: 0 0 0 4px #ffeb3b;
    color: #005eb8;
    background-color: #ffeb3b;
    outline: 4px solid transparent;
    outline-offset: 4px;

}

.covid-link:focus {
    box-shadow: 0 0 0 4px #ffeb3b;
    color: #005eb8;
    background-color: #ffeb3b!important;
}

.covid-link--arrow:focus #down-chevron {
  stroke: #000;
  background-color: #ffeb3b;
box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
color: #212b32;
outline: 4px solid transparent;
text-decoration: none;

}

.covid-link--arrow__icon {
  vertical-align: -8px;
}

.nhsuk-card__content-extra-padding {
 padding: 42px;
 position: relative;
}
