// ==========================================================================
// COMPONENTS / #HEALTH-RECORD
// ==========================================================================



.recordCountAllergies {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: 36px;
}


.recordCountMedicines {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -15px;
}

.recordCountImmunisation {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -70px;
}


.recordCountHealthCondition {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -125px;
}

.recordCountTests {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -175px;
}


.recordCountConsults {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -230px;
}


.recordCountDocs {
  color: #212b32;
  position: absolute;
  right: 50px;
  bottom: -285px;
}

.recordCountAcute {
  color: #212b32;
  position: absolute;
  right: 40px;
  top: 205px;
}


.recordCountRepeatCurrent {
  color: #212b32;
  position: absolute;
  right: 40px;
  top: 259px;
}


.recordCountRepeatDiscontinued {
  color: #212b32;
  position: absolute;
  right: 40px;
  top: 313px;
}




.recordNoInfo {
  background-color: #ffffff;
}
