// ==========================================================================
// COMPONENTS / #HEALTH-RECORD
// ==========================================================================



.recordCountAllergies {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
  
}


.recordCountMedicines {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}

.recordCountImmunisation {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}


.recordCountHealthCondition {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}

.recordCountTests {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}


.recordCountConsults {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}


.recordCountDocs {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}

.recordCountAcute {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}


.recordCountRepeatCurrent {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}


.recordCountRepeatDiscontinued {
  color: #212b32;
  position: relative;
  float:right;
  margin-top:-26px;
}




.recordNoInfo {
  background-color: #ffffff;
}
