// ==========================================================================
// COMPONENTS / #NATIVE-HEADER
// ==========================================================================


.nhsuk-header_app {
  @media (min-width: 482px) {
    display: none;
  }
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 56px;

}

.nhs-app-header__icon_header-home {
  width: 24px;
  height:24px;
  margin-left: 18px;
}

.header-label-home {
  font-weight: 500;
  font-size: 10px;
  a {
    color: #ffffff;
    text-decoration: none;
}
span {
  margin-left: -1px;
}
}

.nhs-logo-header {
  position: fixed;
 top: 4%;
 left: 50%;
 transform: translate(-50%, -50%);
  svg {
  height: 28px;
  width: auto;
}
}


.nhs-app-header__icon_header-help {
  width: 24px;
  height: 24px;
  float: right;
  margin-right: 18px;
  margin-top: -20px;

}

.header-label-help {
  font-weight: 500;
  font-size: 10px;
  svg {
    margin-bottom: -4px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0px;
}
span {
  margin-left: 1.8px;
}
}







.nhs-app-header__icon_header-more {
  width: 24px;
  height: 24px;
  float: right;
  margin-right: 18px;
  margin-top: -20px;

}

.header-label-more {
  font-weight: 500;
  font-size: 10px;
  svg {
    margin-bottom: -4px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0px;
}
span {
  margin-left: -1px;
}
}
