// ==========================================================================
// COMPONENTS / #START SCREEN
// ==========================================================================


.start-desktop {
  @media (max-width: 482px) {
    display: none;
  }
}

.start-native {
  @media (min-width: 482px) {
    display: none;
  }
}


.start-help-label {
  color: #ffffff;
  float: right;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  margin-right: 6.5px;
  margin-top: -4px;
}

.start-help-icon {
  float: right;
  width: 32px;
}



//Full blue background on start page//



  section.home-main-blue {
    position:absolute;
    background: radial-gradient(#0072DF 0%, #0053A3 100%);
    height: 100%;
    width:100%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    }




    section.home-main-blue h2 {
      font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
      font-weight: 700;
      font-size: 1.375em;
      line-height: 1.375em;
      color: #ffffff;
      margin-bottom: 0em;
      margin-top:18%;
      font-size: 1.2em;
      text-align: center;
      padding-left: 0.3em;
      padding-right: 0.3em;
}


    section.home-main-blue .nhso_logo {
      margin: 40% auto 40% auto;
      box-sizing: border-box;
      align-items: center;
    }


      section.home-main-blue button{
        width:100%;
      }

    section.home-main-blue p {
      display: block;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.5em;
      color: #ffffff;
      font-size: 0.7em;
      color: #ffffff;
      padding-bottom: 0.5em;
      text-align: center;
      margin-top:15px;
      margin-bottom:0px;
    }


    .home-header-help{
      position: absolute;
      top: 15px;
      right: 20px;
      }

      .home-header-blue {
        background: transparent;
        min-height: 0em;
      }

      .get-advice-link {
        color: #ffffff;
      }

      .version-text {
        color: #ffffff;
      }

      .nhs-button-full {

        width: 100%;
      }

      .app-main-wrapper--none {

        @include mq($until: tablet) {
          padding-top: 0!important;
          padding-bottom: 0!important;
        }

      }
