// ==========================================================================
// COMPONENTS / #STORE-ICONS
// ==========================================================================

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.store-icon-heading {
  font-size: 19px;
}
