



{% set PROTOTYPEURL = "login" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Enter your email address" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
{% endblock %}


{% extends 'layouts/layout-nhslogin.html' %}


<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/login-password" method="post" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              {{ contentTitle }}
            </h1>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Email address
            </label>
            <input class="nhsuk-input" id="email" name="email" type="text" value="{{data['email']}}">
          </div>
        </fieldset>

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ insetText({
        "HTML": "<h2>What is NHS login?</h2><p>You can use your NHS login to access health websites and apps that have the NHS login button. If you do not have an NHS login, enter your email address to set one up.</p>",
        "classes": "nhsuk-u-margin-top-3"
      }) }}

      {{ warningCallout({
        "heading": "Coronavirus (COVID-19)",
        "HTML": '<p>For health information and advice, read <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS guidance about coronavirus.</a></p>'
      }) }}

    </div>
  </div>
{% endblock %}
