{% extends 'layouts/layout-nhslogin.html' %}


{% set PROTOTYPEURL = "login" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Enter your password" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
{% endblock %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block outerContent %}
{{ backLink({
  "href": "login",
  "text": "Back to: Enter your email address",
  "classes": "nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/login-check-your-mobile" method="post" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              {{ contentTitle }}
            </h1>
          </legend>

          <p>Enter your password to log in.</p>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
          </div>
        </fieldset>

        <p>If you cannot remember your password, you can <a href="">reset it</a>.</p>

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
