
{% set PROTOTYPEURL = "your-health/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Your organ donation decision" %}
{% set yourHealthActive = "active" %}
{% block pageScripts %}
{% endblock %}


{% set faith %}
  {% if data['faithBeliefs'] == 'yes' %}
    Yes - this is applicable to me
  {% elif data['faithBeliefs'] == 'no' %}
    No - this is not applicable to me
  {% else %}
    Prefer not to say
  {% endif %}
{% endset %}

{% set decisionDetails %}
  {% if data['yourChoice'] == 'all' %}
    I want to donate all my organs and tissue.
  {% else %}
    I want to donate some organs and tissue.
  {% endif %}
{% endset %}



{% set heartDonate %}
  {% if data['heart'] == 'yes' %}
    Heart
  {% else %}
  {% endif %}
{% endset %}


{% set heartNotDonate %}
  {% if data['heart'] == 'no' %}
    Heart
  {% else %}
  {% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}


<!-- Set the page title -->
{% block pageTitle %}
  {{ contentTitle }} - {{ serviceName }}
{% endblock %}




<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-desktop" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back to home</a></p>
  </div>
</nav>

<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-native" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>

      <h2 class="nhsuk-heading-m">Withdraw your previous organ donation decision</h2>

      <p>Withdrawing from the NHS Organ Donor Register is different from recording a decision not to donate (opting out). If you withdraw, we will not know your decision.</p>

      <p>In line with changes to the law around organ donation, you are considered to have agreed to be an organ donor, unless:</p>

      <ul>
        <li>you have recorded a decision not to donate</li>
        <li>you are in an excluded group</li>
      </ul>

      <p>Find out more about the <a href="https://www.organdonation.nhs.uk/app/app-donation/#law">law and excluded groups</a>.

        <p>If you do not want to be an organ donor, the best way to tell us is to <a href="/{{ PROTOTYPEURL }}/change-decision">update your decision</a>. You can change your decision at any time.</p>

        <p>Whatever you decide, please make sure your family know your decision.</p>

        <div class="nhsuk-form-group">
  <label class="nhsuk-label" for="select-1">
    Reason for withdrawing
  </label>
  <select class="nhsuk-select" id="select-1" name="select-1">
    <option value="1" selected>Select reason</option>
    <option value="2">Other</option>
    <option value="3">Leaving the UK</option>
    <option value="4">Religious grounds</option>
    <option value="5">I registered in error</option>
    <option value="6">I've changed my mind</option>
    <option value="7">My family do not agree</option>
  </select>
</div>


                        <form action="/{{ PROTOTYPEURL }}/check-details-to-withdraw" method="post">

                        <input type="submit" class="nhsuk-button" value="Continue">
                        </input>

                      </form>


    </div>
  </div>
{% endblock %}
