{% set mainClasses = "app-main-wrapper--hubs" %}


{% set PROTOTYPEURL = "app/appointments" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Appointments" %}
{% set title = contentTitle + " - " + serviceName %}
{% set appointmentsActive = "active" %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-desktop" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back to home</a></p>
  </div>
</nav>

<nav class="nhsuk-breadcrumb nhsuk-breadcrumb-native" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/home">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ contentTitle }}</h1>




                <ul class="panel-link">

                  <li class="panel-link__item">
                    <a class="panel-link__link" href="#">
                      <h2 class="panel-link__heading nhsuk-heading-s">GP surgery appointments</h2>
                      <p class="panel-link__content">View and manage appointments at your surgery</p>
                    </a>
                  </li>

                  <li class="panel-link__item">
                    <a class="panel-link__link" href="#">
                      <h2 class="panel-link__heading nhsuk-heading-s">Hospital and other appointments</h2>
                      <p class="panel-link__content">View and manage appointments, like your referral appointments</p>
                    </a>
                  </li>


                </ul>


    </div>
  </div>


{% endblock %}
