{% extends 'layouts/login-layout.html' %}

{% block pageTitle %}
  Login screen
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

      <h1>
        Access your NHS services
      </h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-0">
      <p> Use NHS App online to access services on your desktop or laptop computer, through your web browser.  You do not need to install anything to get started.</p>
      <p class="nhsuk-u-margin-bottom-4">Use this service to:</p>
      <ul>
        <li class="nhsuk-u-margin-bottom-3">get your NHS COVID Pass</li>
        <li class="nhsuk-u-margin-bottom-3">order repeat prescriptions</li>
        <li class="nhsuk-u-margin-bottom-3">book and manage appointments</li>
        <li class="nhsuk-u-margin-bottom-3">get health information and advice</li>
        <li class="nhsuk-u-margin-bottom-3">view your health record securely</li>
        <li>view your NHS number</li>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading store-icon-heading">
            Get the NHS App on your smartphone or tablet
          </h3>
          <ul class="no-bullets">
            <li><a data-id="apple-store-icon" aria-label="Download on the App Store" href="https://apps.apple.com/gb/app/nhs-app/id1388411277" target="_blank" rel="noopener noreferrer" class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-right-3"><img alt="Download on the App Store" src="/images/app-store-badge.png"></a></li>
            <li><a data-id="play-store-icon" aria-label="Get it on Google Play" href="https://play.google.com/store/apps/details?id=com.nhs.online.nhsonline" target="_blank" rel="noopener noreferrer"><img alt="Get it on Google Play" src="/images/google-play-badge.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-margin-top-1">
        <div>
          <h2> Before you start </h2>
          <p>To use this service you must be:</p>
          <ul>
            <li class="nhsuk-u-margin-bottom-3"> registered with a GP surgery in England </li>
            <li class="nhsuk-u-margin-bottom-3"> aged 13 and over </li>
          </ul>
        </div>
        <details class="nhsuk-details" id="age-info" nhsuk-polyfilled="true">
          <summary aria-controls="nhsuk-details__text" aria-expanded="false" class="nhsuk-details__summary" role="button" tabindex="0">
            <span class="nhsuk-details__summary-text nhsuk-u-margin-bottom-1"> What to do if you're aged 13 to 15 </span>
          </summary>
          <div id="nhsuk-details__text" aria-hidden="true" class="nhsuk-details__text">
            <p>You'll need to contact your GP surgery first and request access to GP online services.</p>
          </div>
        </details>
      </div>
    </div>
  </div>

  <div class="nhsuk-u-margin-bottom-4">
    <div>
      <form action="/home" method="post">
        <input class="nhsuk-button nhslogin-button nhs-app-u-button-full" type="submit" value="Continue with NHS login">
      </form>
    </div>
  </div>
  <div>
    <p>Other services you can use without logging in:</p>
    <ul>
      <li class="nhsuk-u-margin-bottom-3"><a href="https://www.nhs.uk/conditions/" target="_blank" rel="noopener noreferrer"> Search conditions and treatments </a></li>
    </ul>
  </div>

{% endblock %}
